.container{
    background:linear-gradient(225deg, #FD0004 0%, #A20A3A 70.67%) !important;
;
}

.imageSize{
    height: 25rem;
    width: 25rem;
}

@media (max-width: 768px) {
  .imageSize {
   height: 15rem;
    width: 15rem;
  }
}